process {
    withName: 'SAMPLESHEET_CHECK' {
        container = 'quay.io/biocontainers/python:3.12.12'
    }

    withName: 'FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }

    withName: 'TRIMMOMATIC' {
        container = 'quay.io/biocontainers/trimmomatic:0.40--hdfd78af_0'
    }

    withName: 'BWA_.*' {
        container = 'quay.io/biocontainers/bwa:0.7.19--h577a1d6_1'
    }

    withName: 'SAMTOOLS_.*' {
        container = 'quay.io/biocontainers/samtools:1.23--h96c455f_0'
    }

    withName: 'BCFTOOLS_.*' {
        container = 'quay.io/biocontainers/bcftools:1.23--h3a4d415_0'
    }

    withName: 'VCF_TO_PHYLIP' {
        container = 'quay.io/biocontainers/python:3.12.12'
    }

    withName: 'RAXML' {
        container = 'quay.io/biocontainers/raxml:8.2.13--h7b50bb2_3'
    }

    withName: 'VCF_TO_NEXUS' {
        container = 'quay.io/biocontainers/python:3.12.12'
    }

    withName: 'ANGSD_PREPARE_BEAGLE' {
        container = 'quay.io/biocontainers/angsd:0.940--h13024bc_4'
    }

    withName: 'PCANGSD' {
        container = 'quay.io/biocontainers/pcangsd:1.36.4--py313h5d164f8_1'
    }

    withName: 'PLOT_PCANGSD' {
        container = 'community.wave.seqera.io/library/pip_matplotlib_pandas:32b78683ecf28801'
    }

    withName: 'GET_SAMPLE_NAMES' {
        container = 'quay.io/biocontainers/python:3.12.12'
    }

    withName: 'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0'
    }
}
