/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Variant Calling and Phylogenetic Analysis Pipeline Configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Manifest
manifest {
    name            = 'snp-tree-nf'
    author          = 'R. Jordan Price'
    homePage        = ''
    description     = 'Variant calling and phylogenetic analysis pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

// Global default params
params {
    // Input options
    input                      = null
    fasta                      = null
    adapters                   = null

    // Output options
    outdir                     = './results'
    publish_dir_mode           = 'copy'

    // Process resource defaults
    max_memory                 = '16.GB'
    max_cpus                   = 8
    max_time                   = '48.h'

    // MultiQC options
    multiqc_title              = 'Variant Calling Pipeline Report'

    // Trimmomatic options
    trimmomatic_adapters_params = 'ILLUMINACLIP:adapters.fa:2:30:10'
    trimmomatic_window_size     = 4
    trimmomatic_window_quality  = 20
    trimmomatic_minlen          = 36
    trimmomatic_headcrop        = 10

    // RAxML options
    raxml_model                = 'GTRCAT'
    raxml_bootstrap            = 1000

    // Help
    help                       = false

    // Resource limits
    max_cpus                = 16
    max_memory              = '128.GB'
    max_time                = '96.h'
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Capture exit codes from upstream processes
process.errorStrategy = 'terminate'

// Workflow introspection
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
}

// Execution profiles
profiles {
    
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        
        process {
            withName: 'FASTQC' {
                container = 'biocontainers/fastqc:v0.11.9'
            }
            withName: 'TRIMMOMATIC' {
                container = 'biocontainers/trimmomatic:v0.38'
            }
            withName: 'BWA_.*' {
                container = 'biocontainers/bwa:v0.7.17'
            }
            withName: 'SAMTOOLS_.*' {
                container = 'biocontainers/samtools:v1.7.0'
            }
            withName: 'BCFTOOLS_.*' {
                container = 'biocontainers/bcftools:v1.5'
            }
            withName: 'RAXML' {
                container = 'biocontainers/raxml:v8.2.12'
            }
            withName: 'MULTIQC' {
                container = 'multiqc/multiqc:v1.33'
            }
            // Python processes
            withName: 'SAMPLESHEET_CHECK' {
                container = 'python:3.9-slim'
            }
            }
        }
    }
    
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        
        process {
            withName: 'FASTQC' {
                container = 'https://depot.galaxyproject.org/singularity/fastqc:0.11.9'
            }
            withName: 'TRIMMOMATIC' {
                container = 'https://depot.galaxyproject.org/singularity/trimmomatic:0.38'
            }
            withName: 'BWA_.*' {
                container = 'https://depot.galaxyproject.org/singularity/bwa:0.7.17'
            }
            withName: 'SAMTOOLS_.*' {
                container = 'https://depot.galaxyproject.org/singularity/samtools:1.7.0'
            }
            withName: 'BCFTOOLS_.*' {
                container = 'https://depot.galaxyproject.org/singularity/bcftools:1.5'
            }
            withName: 'RAXML' {
                container = 'https://depot.galaxyproject.org/singularity/raxml:8.2.12'
            }
            withName: 'MULTIQC' {
                container = 'https://depot.galaxyproject.org/singularity/multiqc:1.33'
            }
            // Python processes
            withName: 'SAMPLESHEET_CHECK' {
                container = 'https://depot.galaxyproject.org/singularity/python:3.9-slim'
            }
        }
    }
    
    conda {
        conda.enabled = true
        
        process {
            withName: 'FASTQC' {
                conda = 'bioconda::fastqc=0.11.9'
            }
            withName: 'TRIMMOMATIC' {
                conda = 'bioconda::trimmomatic=0.38'
            }
            withName: 'BWA_.*' {
                conda = 'bioconda::bwa=0.7.17'
            }
            withName: 'SAMTOOLS_.*' {
                conda = 'bioconda::samtools=1.7.0'
            }
            withName: 'BCFTOOLS_.*' {
                conda = 'bioconda::bcftools=1.5'
            }
            withName: 'RAXML' {
                conda = 'bioconda::raxml=8.2.12'
            }
            withName: 'MULTIQC' {
                conda = 'bioconda::multiqc=1.33'
            }
            // Python processes

        }
    }
}
