/*
 * Nextflow Configuration File
 * Variant Calling and Phylogenetic Analysis Pipeline
 */

// Manifest information
manifest {
    name            = 'snp-tree-nf'
    author          = 'R. Jordan Price'
    homePage        = ''
    description     = 'Variant calling and phylogenetic analysis pipeline for Illumina paired-end reads'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

// Default parameters
params {
    // Input/Output
    input                   = null
    outdir                  = 'results'
    
    // Reference genome
    reference               = null
    reference_index         = null
    reference_dict          = null
    reference_fai           = null
    
    // Repeat masking
    repeat_mask             = null
    
    // Variant filtering parameters
    min_depth               = 10
    min_mapping_quality     = 40.0
    min_qual_by_depth       = 2.0
    max_fisher_strand       = 60.0
    min_ab_hom              = 0.9
    min_genotype_quality    = 50
    
    // Phylogenetic analysis
    raxml_model             = 'GTRCAT'
    raxml_bootstraps        = 1000
    
    // Resource limits
    max_cpus                = 16
    max_memory              = '128.GB'
    max_time                = '240.h'
}

// Process resource labels
process {
    // Default resources
    cpus   = { check_max( 1 * task.attempt, 'cpus' ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h * task.attempt, 'time' ) }
    
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'
    
    // Process-specific resources
    withLabel: process_low {
        cpus   = { check_max( 2 * task.attempt, 'cpus' ) }
        memory = { check_max( 12.GB * task.attempt, 'memory' ) }
        time   = { check_max( 4.h * task.attempt, 'time' ) }
    }
    
    withLabel: process_medium {
        cpus   = { check_max( 6 * task.attempt, 'cpus' ) }
        memory = { check_max( 36.GB * task.attempt, 'memory' ) }
        time   = { check_max( 8.h * task.attempt, 'time' ) }
    }
    
    withLabel: process_high {
        cpus   = { check_max( 12 * task.attempt, 'cpus' ) }
        memory = { check_max( 72.GB * task.attempt, 'memory' ) }
        time   = { check_max( 16.h * task.attempt, 'time' ) }
    }
}

// Execution profiles
profiles {
    
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        
        process {
            withName: 'FASTQC' {
                container = 'biocontainers/fastqc:v0.11.5_cv3'
            }
            withName: 'BWA_MEM' {
                container = 'biocontainers/bwa:0.7.8'
            }
            withName: 'SAMTOOLS_.*' {
                container = 'biocontainers/samtools:1.3.1'
            }
            withName: 'GATK_.*' {
                container = 'broadinstitute/gatk:4.0.0.0'
            }
            withName: 'CREATE_SNP_MATRIX' {
                container = 'python:3.9-slim'
            }
            withName: 'RAXML_PHYLOGENY' {
                container = 'biocontainers/raxml:8.2.9--h470a237_0'
            }
        }
    }
    
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        
        process {
            withName: 'FASTQC' {
                container = 'https://depot.galaxyproject.org/singularity/fastqc:0.11.5--4'
            }
            withName: 'BWA_MEM' {
                container = 'community.wave.seqera.io/library/bwa_samtools:fd31bd2dec35f1bd'
            }
            withName: 'SAMTOOLS_.*' {
                container = 'https://depot.galaxyproject.org/singularity/samtools:1.3.1--h0cf4675_11'
            }
            withName: 'GATK_.*' {
                container = 'https://depot.galaxyproject.org/singularity/gatk4:4.0.0.0--0'
            }
            withName: 'CREATE_SNP_MATRIX' {
                container = 'https://depot.galaxyproject.org/singularity/python:3.9'
            }
            withName: 'RAXML_PHYLOGENY' {
                container = 'https://depot.galaxyproject.org/singularity/raxml:8.2.9--h470a237_0'
            }
        }
    }
    
    conda {
        conda.enabled = true
        
        process {
            withName: 'FASTQC' {
                conda = 'bioconda::fastqc=0.11.5'
            }
            withName: 'BWA_MEM' {
                conda = 'bioconda::bwa=0.7.8'
            }
            withName: 'SAMTOOLS_.*' {
                conda = 'bioconda::samtools=1.3.1'
            }
            withName: 'GATK_.*' {
                conda = 'bioconda::gatk4=4.0.0.0'
            }
            withName: 'CREATE_SNP_MATRIX' {
                conda = 'python=3.9'
            }
            withName: 'RAXML_PHYLOGENY' {
                conda = 'bioconda::raxml=8.2.9'
            }
        }
    }
    
    test {
        params {
            input       = 'test_data/samplesheet.csv'
            reference   = 'test_data/reference.fasta'
            outdir      = 'test_results'
            max_cpus    = 2
            max_memory  = '6.GB'
            max_time    = '2.h'
        }
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Function to ensure that resource requirements don't go beyond maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

// Trace and timeline reports
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}
